## repetição com FOR

for i in range(n):
    repetir codigo n vezes

In [1]:
for i in range(5): #a cada repeticao ele soma 1 ao valir de i ate chegar em 5
    print("Hugo") # em cada repeticao ele executa as tarefas que estiverem indentadas a ele

Hugo
Hugo
Hugo
Hugo
Hugo

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
produtos = ["gasp13","gasp45","agua22","agua23", "agua24","agua25"]
vendas = [30,1,8,10,12,6]

for i in range(5):
    print("{} unidades vendidas de {}.".format(vendas[i],produtos[i]))

30 unidades vendidas de gasp13.
1 unidades vendidas de gasp45.
8 unidades vendidas de agua22.
10 unidades vendidas de agua23.
12 unidades vendidas de agua24.

In [18]:
produtos = ["gasp13","gasp45","agua22","agua23", "agua24","agua25"]
vendas = [30,1,8,10,12,6]
valor = [120,500,5,5,5,5]
vendas_tot = 0

for i in range(5):
    vendas_tot = vendas_tot + (valor[i]*vendas[i])
    print("{} unidades vendidas de {}, gerando uma venda de {} reais.".format(vendas[i],produtos[i],(vendas[i]*valor[i])))
print("{:,.2f} foi o faturamento total do dia!".format(vendas_tot))

30 unidades vendidas de gasp13, gerando uma venda de 3600 reais.
1 unidades vendidas de gasp45, gerando uma venda de 500 reais.
8 unidades vendidas de agua22, gerando uma venda de 40 reais.
10 unidades vendidas de agua23, gerando uma venda de 50 reais.
12 unidades vendidas de agua24, gerando uma venda de 60 reais.
4,250.00 foi o faturamento total do dia!