In [ ]:
gasp13 = input("Quantos Botijões de P13 tem na Base?")
vasip13 = input("Quantos Vasilhames de Botijão vazio de P13 tem na Base?")
agua2022 = input("Quantos Galões de Água 2022 Cheios tem na base?")
agua2023 = input("Quantos Galões de Água 2023 Cheios tem na base?")
agua2024= input("Quantos Galões de Água 2024 Cheios tem na base?")
agua2025 = input("Quantos Galões de Água 2025 Cheios tem na base?")

if gasp13 and vasip13 and agua2022 and agua2023 and agua2024 and agua2025:
    gasp13 = int(gasp13)
    vasip13 = int(vasip13)
    agua2022 = int(agua2022) 
    agua2023 = int(agua2023)
    agua2024 = int(agua2024)
    agua2025 = int(agua2025)
    if gasp13 < 60:
        print("Solicitar {} Recargas de Gas à equipe de compras, temos apenas {} unidades em estoque".format((120-gasp13),gasp13))
    if vasip13 > 60:
        print("Solicitar {} Recargas de Gas à equipe de compras, temos apenas {} unidades em estoque".format((60-vasip13),vasip13))
    if agua2022 < 30:
        print("Solicitar {} Recargas de Gas à equipe de compras, temos apenas {} unidades em estoque".format((30-agua2022),agua2022))
    if agua2023 < 30:
        print("Solicitar {} Recargas de Gas à equipe de compras, temos apenas {} unidades em estoque".format((30-agua2023),agua2023))
    if agua2024 < 30:
        print("Solicitar {} Recargas de Gas à equipe de compras, temos apenas {} unidades em estoque".format((30-agua2024),agua2024))
    if agua2025 < 30:
        print("Solicitar {} Recargas de Gas à equipe de compras, temos apenas {} unidades em estoque".format((30-agua2025),agua2025))

In [ ]:
cpf = input("Insira seu CPF(digite apenas os numeros)")
if len(cpf) == 11 and cpf.isnumeric():
    print(cpf)
else:
    print("Digite os numeros corretamente e digite somente os numeros")

In [ ]:
cpf = input("Insira seu CPF")

#tratar o cpf

#tirar espaços no inicio e no final
cpf = cpf.strip()

#retirar os pontos 
cpf = cpf.replace(".","")
#retirar o traço
cpf = cpf.replace("-","")



if len(cpf) == 11 and cpf.isnumeric():
    print(cpf)
else:
    print("Digite os numeros corretamente e digite somente os numeros")

In [14]:
nome = input("Digite o seu nome")
email = input("Digite seu email")

if nome and email:
    pos_a = email.find("@")
    servidor = email[pos_a:]
    if pos_a != -1 and "." in servidor:
        print("Cadastro concluido")
        print(servidor)
    else:
        print("Email invalido")
else:
    print("Digite seu nome e e-mail corretamente")

Digite o seu nomehugo
Digite seu emailhugo@gmail.com
Cadastro concluido
@gmail.com

In [38]:
meses = ["jan", "fev", "mar", "abr", "mai", "jun", "jul", "ago","set","out", "nov", "dez"]
print(meses)
print (len(meses))

vendas_1sem = [80000, 90000, 100000, 90000, 80000, 90000]
vendas_2sem = [100000, 90000, 85000, 95000, 105000, 115000]
print (len(vendas_1sem))
print (len(vendas_2sem))
vendas_ano = vendas_1sem + vendas_2sem
print(vendas_ano)
print (len(vendas_ano))

print("O melhor mês foi {} com {:,.2f} reais em vendas".format(meses[vendas_ano.index(max(vendas_ano))], max(vendas_ano)))
print("O pior mês foi {} com {:,.2f} reais em vendas".format(meses[vendas_ano.index(min(vendas_ano))], min(vendas_ano)))

# para somar todos os valores de uma lista podemos utilizar a função sum(lista)

vendas_tot = sum(vendas_ano)
print("O faturamento total foi de: R$ {:,.2f}".format(vendas_tot))

percentual = max(vendas_ano) / vendas_tot
print("O melhor mês representou {:.2%} das vendas do ano!".format(percentual))

['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
12
6
6
[80000, 90000, 100000, 90000, 80000, 90000, 100000, 90000, 85000, 95000, 105000, 115000]
12
O melhor mês foi dez com 115,000.00 reais em vendas
O pior mês foi jan com 80,000.00 reais em vendas
O faturamento total foi de: R$ 1,120,000.00
O melhor mês representou 10.27% das vendas do ano!

## Criando uma lista com nome e cpf das pessoas que retiraram vale gas no dia!

In [44]:
qtd_vale = int(input("quantos vales foram resgatados?"))
print(qtd_vale)
vale = []

for i in range (qtd_vale):
    nome = input("Qual o nome do solicitante?")
    cpf = input("Qual o cpf do solicitante?")
    voucher = input("Qual o numero do voucher?")
    cliente = [nome, cpf, voucher]
    vale.append(cliente)
    
print(vale)

quantos vales foram resgatados?2
2
Qual o nome do solicitante?1123
Qual o cpf do solicitante?123
Qual o numero do voucher?213
Qual o nome do solicitante?123
Qual o cpf do solicitante?1236
Qual o numero do voucher?123
[['1123', '123', '213'], ['123', '1236', '123']]

In [54]:
meta = 100000
vendas = [
    ["andre", 100000],
    ["joao", 90000],
    ["maria", 120000],
    ["pedro",8000],
    ["felie",95000],
]

for item in vendas:
    if item[1] >= meta:
        print("O funcionario {} bateu a meta de venda, vendeu {} e a meta era de {}".format(item[0],item[1],meta))

O funcionario andre bateu a meta de venda, vendeu 100000 e a meta era de 100000
O funcionario maria bateu a meta de venda, vendeu 120000 e a meta era de 100000

In [63]:
produtos = ["produto1", "produto2", "produto3", "produto4", "produto5", "produto6", "produto7", "produto8"]
vendas_2019 = [50, 84, 71, 92, 18, 17, 26, 54]
vendas_2020 = [102, 107, 27, 19, 48, 105, 28, 17]

for i, produto in enumerate(produtos):
    if vendas_2020[i] > vendas_2019[i]:
        print("O {}, teve aumento nas vendas entre 2019 e 2020, o aumento foi de {:.2%}".format(produto,(vendas_2020[i]/vendas_2019[i])))

O produto1, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 204.00%
O produto2, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 127.38%
O produto5, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 266.67%
O produto6, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 617.65%
O produto7, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 107.69%

In [62]:
# tambem e possivel fazer sem o enumerate
produtos = ["produto1", "produto2", "produto3", "produto4", "produto5", "produto6", "produto7", "produto8"]
vendas_2019 = [50, 84, 71, 92, 18, 17, 26, 54]
vendas_2020 = [102, 107, 27, 19, 48, 105, 28, 17]

for i in range(len(produtos)):
    if vendas_2020[i] > vendas_2019[i]:
        print("O {}, teve aumento nas vendas entre 2019 e 2020, o aumento foi de {:.2%}".format(produtos[i],(vendas_2020[i]/vendas_2019[i])))

O produto1, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 204.00%
O produto2, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 127.38%
O produto5, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 266.67%
O produto6, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 617.65%
O produto7, teve aumento nas vendas entre 2019 e 2020, o aumento foi de 107.69%

## for dentro de for

In [73]:
vendas_total = [
    [50, 84, 71, 92, 18, 17, 26, 54, 54, 75, 85, 64],
    [102, 107, 27, 19, 48, 105, 28, 17, 52, 53, 62, 41],
    [25, 41, 57, 48, 75, 96, 35, 26, 51, 71, 41, 25],
    [15, 17, 48, 75, 76, 92, 108, 52, 91, 15, 42, 62],
    [5, 83, 92, 72, 85, 41, 52, 96, 52, 53, 62, 41],
]
meses = ["Janeiro", "Fevereiro", "Marco", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
anos = [2017, 2018, 2019, 2020, 2021]
meta = 50


for i, vendas_ano in enumerate (vendas_total):
    for j, venda in enumerate (vendas_ano):
        if venda < meta:
            print("As vendas do mês {} do ano {} foram de {} e não bateram a meta que era de {}".format(meses[j],anos[i],venda,meta))

As vendas do mês Maio do ano 2017 foram de 18 e não bateram a meta que era de 50
As vendas do mês Junho do ano 2017 foram de 17 e não bateram a meta que era de 50
As vendas do mês Julho do ano 2017 foram de 26 e não bateram a meta que era de 50
As vendas do mês Marco do ano 2018 foram de 27 e não bateram a meta que era de 50
As vendas do mês Abril do ano 2018 foram de 19 e não bateram a meta que era de 50
As vendas do mês Maio do ano 2018 foram de 48 e não bateram a meta que era de 50
As vendas do mês Julho do ano 2018 foram de 28 e não bateram a meta que era de 50
As vendas do mês Agosto do ano 2018 foram de 17 e não bateram a meta que era de 50
As vendas do mês Dezembro do ano 2018 foram de 41 e não bateram a meta que era de 50
As vendas do mês Janeiro do ano 2019 foram de 25 e não bateram a meta que era de 50
As vendas do mês Fevereiro do ano 2019 foram de 41 e não bateram a meta que era de 50
As vendas do mês Abril do ano 2019 foram de 48 e não bateram a meta que era de 50
As vendas do mês Julho do ano 2019 foram de 35 e não bateram a meta que era de 50
As vendas do mês Agosto do ano 2019 foram de 26 e não bateram a meta que era de 50
As vendas do mês Novembro do ano 2019 foram de 41 e não bateram a meta que era de 50
As vendas do mês Dezembro do ano 2019 foram de 25 e não bateram a meta que era de 50
As vendas do mês Janeiro do ano 2020 foram de 15 e não bateram a meta que era de 50
As vendas do mês Fevereiro do ano 2020 foram de 17 e não bateram a meta que era de 50
As vendas do mês Marco do ano 2020 foram de 48 e não bateram a meta que era de 50
As vendas do mês Outubro do ano 2020 foram de 15 e não bateram a meta que era de 50
As vendas do mês Novembro do ano 2020 foram de 42 e não bateram a meta que era de 50
As vendas do mês Janeiro do ano 2021 foram de 5 e não bateram a meta que era de 50
As vendas do mês Junho do ano 2021 foram de 41 e não bateram a meta que era de 50
As vendas do mês Dezembro do ano 2021 foram de 41 e não bateram a meta que era de 50

In [85]:
meta = 100000
vendas = [
    ["andre", 100000],
    ["joao", 90000],
    ["maria", 120000],
    ["pedro",8000],
    ["felie",95000],
    ["paulo", 11000],
]
cont = 0
for venda in vendas:
    if venda[1] >= meta:
        cont += 1

  
print("{:.2%} dos vendedores bateram a meta".format(cont / len(vendas)))

33.33% dos vendedores bateram a meta

In [90]:
vendas_total = [
    [50, 84, 71, 92, 18, 17, 26, 54, 54, 75, 85, 64],
    [102, 107, 27, 19, 48, 105, 28, 17, 52, 53, 62, 41],
    [25, 41, 57, 48, 75, 96, 35, 26, 51, 71, 41, 25],
    [15, 17, 48, 75, 76, 92, 108, 52, 91, 15, 42, 62],
    [5, 83, 92, 72, 85, 41, 52, 96, 52, 53, 62, 41],
]
meses = ["Janeiro", "Fevereiro", "Marco", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
anos = [2017, 2018, 2019, 2020, 2021]
maior_venda = 0
#descobrir e printar o melhor mes do melhor ano e quanto foi a venda

for i, vendas in enumerate(vendas_total):
    for j, venda in enumerate(vendas):
        if venda > maior_venda:
            maior_venda = venda
            i_maiorvenda = i
            j_maiorvenda = j
print("A melhor venda foi de R$ {} no mês de {} do ano {}".format(maior_venda,meses[j_maiorvenda],anos[i_maiorvenda]))

A melhor venda foi de R$ 108 no mês de Julho do ano 2020

## interrompendo um for

break --->  interrompe e finaliza o for 


continue --->  interrompe e vai para o proximo item do for

## Exercicio while

In [93]:
vendas = []

while True:
    produto = input("Qual o produto?")
    if not produto:
        break
    valor = int(input("Qual o valor?"))
    vendas.append([produto,valor])

print(vendas)

Qual o produto?maca
Qual o valor?5
Qual o produto?banana
Qual o valor?3
Qual o produto?
[['maca', 5], ['banana', 3]]