# Meus primeiros Códigos em Python

In [1]:
print ("Hello World! Olá Mundo!") 
print("caso queria imprimir um tesxo específico, utilizaremos dentro de aspas duplas")
print("ou se for um numero específico e fixo podemos colocar direto o numero como no exemplo abaixo")   
print(99,21,21,345)
print("podemos tambem passar uma série de informações ao mesmo tempo", 123, "dessa forma por exemplo(separado por virgula)")
print("poderemos imprimir tambem o resultado de uma função ou o valor armazenado em uma variavel")

Hello World! Olá Mundo!
caso queria imprimir um tesxo específico, utilizaremos dentro de aspas duplas
ou se for um numero específico e fixo podemos colocar direto o numero como no exemplo abaixo
99 21 21 345
podemos tambem passar uma série de informações ao mesmo tempo 123 dessa forma por exemplo(separado por virgula)
poderemos imprimir tambem o resultado de uma função ou o valor armazenado em uma variavel

In [2]:
print("soma","1 + 1")
print(1 + 1)
print("multiplicação","2 * 2")
print(2*2)
print("divisão 3 / 3")
print("Eponencial""4 ** 4")
print(4 ** 4)
print("visto as operações básicas, vamos ver as casas decimais")
print("2 / 3")
print(2 / 3,"aqui podemos ver que o Python utiliza como marcador de casa decimal o ponto final(.)")
print("resto de uma divisão 7 % 3")
print(7 % 3," e o resto da divisão exata de 7 por 3")

soma 1 + 1
2
multiplicação 2 * 2
4
divisão 3 / 3
Eponencial4 ** 4
256
visto as operações básicas, vamos ver as casas decimais
2 / 3
0.6666666666666666 aqui podemos ver que o Python utiliza como marcador de casa decimal o ponto final(.)
resto de uma divisão 7 % 3
1  e o resto da divisão exata de 7 por 3

In [3]:
print("As operações em Python seguem a mesma ordem e lógica das operações matemáticas")
print(1 + 1)
print(1 + 1 * 4)
print("caso precise ordenar em uma ordem diferente da matematica utilize parenteses exatamente igual na matemática")
print((1 + 1) * 4)
print(1 + 2 * 3 - 5 / 2)
print(((1 + 2) * (3 - 5))/ 2)

As operações em Python seguem a mesma ordem e lógica das operações matemáticas
2
5
caso precise ordenar em uma ordem diferente da matematica utilize parenteses exatamente igual na matemática
8
4.5
-3.0

In [4]:
print("String dentro do Python")
print("função concatenar em string")
print("python é" + " fera")

print("operação (in)")
print('@' in 'hugo@gmail.com')
print('hugo' in 'hugo@gmail.com')
print('Hugo' in 'hugo@gmail.com', "ou seja a função (in) é Case Sensitive")

String dentro do Python
função concatenar em string
python é fera
operação (in)
True
True
False ou seja a função (in) é Case Sensitive

In [5]:
print("Variaveis")
print("atribuição direta quando a variavel for fixa ou tiver um valor inicial fixo")
qtde_vendas = 1500
print(qtde_vendas)
qtde_vendas = 1600
print(qtde_vendas)
print("podemos ver que a variavel armazena o ultimo valor solicitado ou seja que ela vai sobreescrevendo")

Variaveis
atribuição direta quando a variavel for fixa ou tiver um valor inicial fixo
1500
1600
podemos ver que a variavel armazena o ultimo valor solicitado ou seja que ela vai sobreescrevendo

## Quando houverem linhas de comando separado em mais de uma celula, atenção para a ordem de execução

In [2]:
vendas_tot = 1000
custo = 300

lucro = vendas_tot - custo
print (lucro)

custo = 250

print (lucro)
lucro = vendas_tot - custo

print (lucro)("apenas apos executar a função lucro novamente que ela sera atualizada com o novo custo informado")

700
700
750

Tipos de variaveis

In [7]:
variavel = 100
print (type(variavel))

variavel = 100.00
print (type(variavel))

variavel = "Cem"
print (type(variavel))

variavel = "100"
print (type(variavel))

variavel = True
print (type(variavel))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [8]:
("cuidados importantes!! nao usar como nome de variavel as varaveis já pre existentes do python")

'cuidados importantes!! nao usar como nome de variavel as varaveis já pre existentes do python'

In [12]:
#variavel = 100
#
#print ("A meta é de" + variavel)
("codigo acima vai dar erro por não poder concatenar uma STR com um INT dessa forma e necessario a transformação da variavel antes")

variavel = 100

print ("A meta é de " + str(variavel))

A meta é de 100

## FORMAT

In [18]:
loja1 = 110
loja2 = 120
loja3 = 90

media = (loja1 + loja2 + loja3) / 3

print ("A meta da loja 1 é de: " + str(loja1) + "A meta da loja 2 é de: " + str(loja2) + "A meta da loja 3 é de: " + str(loja3))
print ("A média das metas foi de " + str(media))

A meta da loja 1 é de: 110A meta da loja 2 é de: 120A meta da loja 3 é de: 90
A média das metas foi de 106.66666666666667

In [23]:
loja1 = 110
loja2 = 120
loja3 = 90

media = (loja1 + loja2 + loja3) / 3

print ("A meta da loja 1 é de: {}. A meta da loja 2 é de: {}. A meta da loja 3 é de: {}." .format(loja1, loja2, loja3))
("o .format colocara as variaveis na ordem das {} que vao aparecendo")
print ("A média das metas foi de {}".format(media))

SyntaxError: invalid syntax (2864426379.py, line 9)