## Tuplas

### Estrutura:

tupla = (valor,valor,valor,...)

Parece uma lista, mas é imutavel (nao conseguimos adicionar, remover ou alterar o valor)
por isso e interessante pra proteger a base de dados por exemplo

aceita valores hetereogeneos

In [21]:
vendas = ("Hugo", "01/01/1988", 3500, 0.16, True)
print (vendas)

nome = vendas[0]
data_nascimento = vendas[1]
salario = vendas[2]
imposto = vendas[3]
pj = vendas[4]

print("O nome do funcionário é {}".format(nome))
print("A data de nascimento do funcionário {} é: {}".format(nome, data_nascimento))
print("O Salário do funcionário {}, nascido em {} é de: R$ {:,.2f}".format(nome,data_nascimento,salario))
print("O imposto do funcionário {} nascido em {}, devido ao seu salario de R$ {:,.2f} é de R$ {:,.2f} com uma aliquota de {:.0%}".format(nome,data_nascimento,salario,salario*imposto, imposto))

# tentando alterar o valor do salario da erro por se tratar de uma tupla
# vendas[2] = 4000

('Hugo', '01/01/1988', 3500, 0.16, True)
O nome do funcionário é Hugo
A data de nascimento do funcionário Hugo é: 01/01/1988
O Salário do funcionário Hugo, nascido em 01/01/1988 é de: R$ 3,500.00
O imposto do funcionário Hugo nascido em 01/01/1988, devido ao seu salario de R$ 3,500.00 é de R$ 560.00 com uma aliquota de 16%

## UNPACKING de tupla

In [22]:
vendas = ("Hugo", "01/01/1988", 3500, 0.16, True)

nome, data_nascimento, salario, imposto, pj = vendas

print(nome)
print(data_nascimento)
print(salario)
print(imposto)
print(pj)

Hugo
01/01/1988
3500
0.16
True

## lista de tuplas

lista = [
    tupla1,
    tupla2,
    tupla3,
    tupla4,
    ]
    
=


lista = [
    (valor1, valor2, valor3),
    (valor4, valor5, valor6),
    (valor7, valor8, valor9),
    (valor10, valor11, valor12),
    ]

In [37]:
vendas = [
    ("01/01/2022","gasp13", "portaria", 14, 120, "dinheiro"),
    ("01/01/2022","agua20lt", "Andre", 20, 9, "cartão"),
    ("01/01/2022","gasp45", "portaria", 1, 500, "dinheiro"),
    ("01/01/2022","gasp13", "Andre", 16, 125, "cartão"),
    ("02/01/2022","gasp13", "portaria", 18, 120, "dinheiro"),
    ("02/01/2022","agua20lt", "portaria", 25, 5, "dinheiro"),
    ("02/01/2022","agua20lt", "Andre", 13, 8, "dinheiro"),
    ("02/01/2022","agua20lt", "Andre", 5, 9, "cartão"),
]
# descubra o faturamento por dia 

faturamento_1 = vendas[0][3] * vendas[0][4] + vendas[1][3] * vendas[1][4] + vendas[2][3] * vendas[2][4] + vendas[3][3] * vendas[3][4]
faturamento_2 = vendas[4][3] * vendas[4][4] + vendas[5][3] * vendas[5][4] + vendas[6][3] * vendas[6][4] + vendas[7][3] * vendas[7][4]
faturamento_tot = faturamento_1 + faturamento_2

print("O faturamento do dia {} foi de R$ {:,.2f}".format(vendas[0][0],faturamento_1))
print("O faturamento do dia {} foi de R$ {:,.2f}".format(vendas[4][0],faturamento_2))
print("O faturamento total foi de R$ {:,.2f}".format(faturamento_tot))

O faturamento do dia 01/01/2022 foi de R$ 4,360.00
O faturamento do dia 02/01/2022 foi de R$ 2,434.00
O faturamento total foi de R$ 6,794.00

In [38]:
vendas = [
    ("01/01/2022","gasp13", "portaria", 14, 120, "dinheiro"),
    ("01/01/2022","agua20lt", "Andre", 20, 9, "cartão"),
    ("01/01/2022","gasp45", "portaria", 1, 500, "dinheiro"),
    ("01/01/2022","gasp13", "Andre", 16, 125, "cartão"),
    ("02/01/2022","gasp13", "portaria", 18, 120, "dinheiro"),
    ("02/01/2022","agua20lt", "portaria", 25, 5, "dinheiro"),
    ("02/01/2022","agua20lt", "Andre", 13, 8, "dinheiro"),
    ("02/01/2022","agua20lt", "Andre", 5, 9, "cartão"),
]
# descubra o faturamento por dia 

for venda in vendas:
    data, produto, responsavel, qtd, valor, formapg = venda
    if data == "01/01/2022":

('01/01/2022', 'gasp13', 'portaria', 14, 120, 'dinheiro')
('01/01/2022', 'agua20lt', 'Andre', 20, 9, 'cartão')
('01/01/2022', 'gasp45', 'portaria', 1, 500, 'dinheiro')
('01/01/2022', 'gasp13', 'Andre', 16, 125, 'cartão')
('02/01/2022', 'gasp13', 'portaria', 18, 120, 'dinheiro')
('02/01/2022', 'agua20lt', 'portaria', 25, 5, 'dinheiro')
('02/01/2022', 'agua20lt', 'Andre', 13, 8, 'dinheiro')
('02/01/2022', 'agua20lt', 'Andre', 5, 9, 'cartão')