## repetição com FOR

for i in range(n):
    repetir codigo n vezes

In [22]:
for i in range(3): #a cada repeticao ele soma 1 ao valor de i ate chegar em 3
    print("Hugo") # em cada repeticao ele executa as tarefas que estiverem indentadas a ele

Hugo
Hugo
Hugo

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
produtos = ["gasp13","gasp45","agua22","agua23", "agua24","agua25"]
vendas = [30,1,8,10,12,6]

for i in range(len(produtos)):
    print("{} unidades vendidas de {}.".format(vendas[i],produtos[i]))

30 unidades vendidas de gasp13.
1 unidades vendidas de gasp45.
8 unidades vendidas de agua22.
10 unidades vendidas de agua23.
12 unidades vendidas de agua24.
6 unidades vendidas de agua25.

In [54]:
#aqui farei o for atraves do indice da lista
produtos = ["gasp13","gasp45","agua22","agua23", "agua24","agua25"]
vendas = [30,1,8,10,12,6]
valor = [120,500,5,5,5,5]
vendas_tot = 0

for i in range(len(produtos)):
    vendas_tot = vendas_tot + (valor[i]*vendas[i]) #usando o for para sumor o total, mas poderia ser pela função sum()
    print("{} unidades vendidas de {}, gerando uma venda de {} reais.".format(vendas[i],produtos[i],(vendas[i]*valor[i])))
print("{:,.2f} foi o faturamento total do dia!".format(vendas_tot))

30 unidades vendidas de gasp13, gerando uma venda de 3600 reais.
1 unidades vendidas de gasp45, gerando uma venda de 500 reais.
8 unidades vendidas de agua22, gerando uma venda de 40 reais.
10 unidades vendidas de agua23, gerando uma venda de 50 reais.
12 unidades vendidas de agua24, gerando uma venda de 60 reais.
6 unidades vendidas de agua25, gerando uma venda de 30 reais.
4,280.00 foi o faturamento total do dia!

In [44]:
#tambem oidemos usar o range em string 

texto = "Hugo esta aprendendo a codar!"

for i in texto:
    print(i)
    
# ou direto em uma lista sem pegar o indice
produtos = ["gasp13","gasp45","agua22","agua23", "agua24","agua25"]
for produto in produtos:
    print(produto)

H
u
g
o

e
s
t
a

a
p
r
e
n
d
e
n
d
o

a

c
o
d
a
r
!
gasp13
gasp45
agua22
agua23
agua24
agua25

## combinando o for com if

for item in lista:
    if condição:
        faca algo
    else:
        faca outra coisa

In [43]:
vendas = [10, 15, 51, 84, 74, 51, 41, 95, 62, 31, 52, 84, 84, 75, 74, 91, 15, 18, 14, 16, 18]
meta = 45
cont = 0
for venda in vendas:
    if venda >= meta:
        cont += 1
        print(venda)
print("A empresa possui {} funcionários cadastrados".format(len(vendas)))
print("{} pessoas bateram a meta".format(cont))
print("{:.2%} dos vendedores bateram a meta".format((cont/len(vendas))))

51
84
74
51
95
62
52
84
84
75
74
91
A empresa possui 21 funcionários cadastrados
12 pessoas bateram a meta
57.14% dos vendedores bateram a meta

In [45]:
# ou as vezes podemos usar o for direto na lista mas pegando tambem o indice para poder relacionar mais listas por exemplo 
#para isso usaremos o .enumerate() 
# usar apenas quando necessario por tornar o codico mais lento.

for i, venda in enumerate(vendas):
    faca algo

In [47]:
vendas = [10, 15, 51, 84, 74, 51, 41, 95, 62, 31, 52, 84, 84, 75, 74, 91, 15, 18, 14, 16, 18]
for i, venda in enumerate(vendas):
    print("{} foi a venda de numero {}".format(venda,i))

10 foi a venda de numero 0
15 foi a venda de numero 1
51 foi a venda de numero 2
84 foi a venda de numero 3
74 foi a venda de numero 4
51 foi a venda de numero 5
41 foi a venda de numero 6
95 foi a venda de numero 7
62 foi a venda de numero 8
31 foi a venda de numero 9
52 foi a venda de numero 10
84 foi a venda de numero 11
84 foi a venda de numero 12
75 foi a venda de numero 13
74 foi a venda de numero 14
91 foi a venda de numero 15
15 foi a venda de numero 16
18 foi a venda de numero 17
14 foi a venda de numero 18
16 foi a venda de numero 19
18 foi a venda de numero 20

In [52]:
produtos = ["gasp13","gasp45","agua22","agua23", "agua24","agua25"]
vendas = [30,1,8,10,12,6]
valor = [120,500,5,5,5,5]
vendas_tot = 0

for i in range(len(produtos)):
    vendas_tot = vendas_tot + (valor[i]*vendas[i]) #usando o for para sumor o total, mas poderia ser pela função sum()
    print("{} unidades vendidas de {}, gerando uma venda de {} reais.".format(vendas[i],produtos[i],(vendas[i]*valor[i])))
print("{:,.2f} foi o faturamento total do dia!".format(vendas_tot))

#repetindo utilizando o enumerate

produtos = ["gasp13","gasp45","agua22","agua23", "agua24","agua25"]
vendas = [30,1,8,10,12,6]
valor = [120,500,5,5,5,5]
vendas_tot = 0

for i, produto in enumerate(produtos):
    vendas_tot += valor[i]*vendas[i]
    print("{} unidades vendidas de {}, gerando uma venda de {} reais.".format(vendas[i],produto,(vendas[i]*valor[i])))
print("{:,.2f} foi o faturamento total do dia!".format(vendas_tot))

30 unidades vendidas de gasp13, gerando uma venda de 3600 reais.
1 unidades vendidas de gasp45, gerando uma venda de 500 reais.
8 unidades vendidas de agua22, gerando uma venda de 40 reais.
10 unidades vendidas de agua23, gerando uma venda de 50 reais.
12 unidades vendidas de agua24, gerando uma venda de 60 reais.
6 unidades vendidas de agua25, gerando uma venda de 30 reais.
4,280.00 foi o faturamento total do dia!
30 unidades vendidas de gasp13, gerando uma venda de 3600 reais.
1 unidades vendidas de gasp45, gerando uma venda de 500 reais.
8 unidades vendidas de agua22, gerando uma venda de 40 reais.
10 unidades vendidas de agua23, gerando uma venda de 50 reais.
12 unidades vendidas de agua24, gerando uma venda de 60 reais.
6 unidades vendidas de agua25, gerando uma venda de 30 reais.
4,280.00 foi o faturamento total do dia!